* {
    box-sizing: border-box;
    font-family: 'Oleo Script+', cursive;
}

body {
    margin: 0;
    color: #fff;
}

/* Header Section */

.full-screen-header {
    height: 100vh;
    background-image: url('./img/coffee-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 1 50%;
}

/* Navbar Section */

.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    padding-inline: 1rem;
}

.logo {
    height: 100px;
    width: 130px;
    margin-right: auto;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    outline: none;
}

.nav-list a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: rgb(211, 85, 85);
    margin: auto;
    display: block;
}

.nav-list a:hover::after,
.nav-list a:focus::after {
    width: 100%;
    transition: width 0.3s linear;
}

.nav-list a:hover {
    color: rgb(211, 85, 85);
}

/* Title Section */

.sub-title {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    text-align: center;
}

.transparent-background {
    background-color: rgba(213, 201, 201, 0.8);;
    color: #1B2522;
    padding: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    text-decoration: none;
    border: 1px solid rgb(253, 153, 39);
    background-color: rgb(253, 153, 39);
    padding: .5em 1em;
    border-radius: .3em;
    margin-top: 3rem;
    color: black;
    outline: none;
    text-align: center;
}

.btn:hover,
.btn:focus {
    background-color: rgb(187, 117, 52);
}

/* Heading text */

.biggest-heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.big-heading {
    font-size: 2.3rem;
    font-weight: bold;
    padding: 2rem 0;
}

.md-heading {
    font-weight: bold;
}

/* Grid Containers */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.special-grid {
    gap: 1.5rem;
    justify-content: center;
}

.cff-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Testimonial Section */

.testimonials {
    background-image: linear-gradient(90deg, #000000b5, #000000b0), url('./img/Background-Coffee.jpg');
    text-align: center;
    color: #fff;
}

.testimonial-heading {
    margin-top: 1rem;
    font-weight: bold;
}

.testimonial-text {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 1.5rem;
    padding-inline: 15%;
}

.carousel-indicators [data-bs-target] {
    height: 5px;
    background-color: #e79d12;
}

.testimonial-image {
    width: 100%;
    max-width: 330px;
    border-radius: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e79d12'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e79d12'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Coffee Menu */

.cff-grid p {
    margin: 1rem 0;
}

.cff-name {
    padding-top: 1.5rem;
}

.cff-name h3 {
    font-weight: bold;
    text-decoration: underline;
}

.bttm-border {
    border-bottom: 1px solid;
}

/* Our Special Section */

.dark-background {
    background-color: rgb(50, 41, 41);
}

.special-item-1 {
    margin: 0 auto;
}

.cff-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.special-item-2 {
    line-height: 1.5;
}

.special-item-2 p {
    font-size: 1.2rem;
}

/* Our Shop Section */

.about-us {
    background-color: #fff;
    color: #1B2522;
}

.about-us-center {
    margin: 0 auto;
}

/* Contact */

.contact {
    color: #fff;
}

.grid-contact-container {
    place-items: center;
    margin: 0 auto;
}

.cff-cup {
    width: 100%;
    max-width: 400px;
}

.form {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.form label {
    color: #fff;
    font-weight: bold;
}

.form input,
.form textarea {
    width: 100%;
    margin-top: .25rem;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid #1B2522;
    border-radius: .3em;
    padding: .5em;
    color: inherit;
    font-family: inherit;
}

.button {
    background-color: rgb(253, 153, 39);
    padding: .5em 1em;
    border-radius: .3em;
    color: black;
    outline: none;
    cursor: pointer;
    border: none;
}

.button:hover,
.button:focus {
    background-color: rgb(187, 117, 52);
}

/* Footer */

.footer {
    background-image: url('./img/Footer-Background.jpg');
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 60%;
    padding: 5% 10%;
}

.footer-text {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.footer-subtext span {
    text-decoration: underline;
    text-decoration-color: rgb(211, 85, 85);
    text-underline-offset: 3px;
}

.footer-bottom-text {
    color: white;
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.media-icons {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.fa-facebook-square,
.fa-instagram-square,
.fa-twitter-square {
    padding-right: 1.2rem;
    cursor: pointer;
}

/* Mobile Version */

@media only screen and (min-width: 320px) and (max-width: 800px) {

    /* Mobile Headings */

    .biggest-heading {
        font-size: 1.7rem;
        text-align: center;
    }
    
    .sub-title {
        font-size: 1rem;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 1rem;
    }

    .big-heading {
        text-align: center;
    }

    /* Mobile Nav */

    .nav-list li {
        text-align: center;
        margin: .5rem;
    }

    .nav-list li a {
        display: block;
        border: 1px solid rgb(206, 125, 32);
        border-radius: 10px;
        background-color: rgb(253, 153, 39);
        width: 50%;
        color: white;
        padding: 5px 20px;
        font-size: .8rem;
        margin: 0 auto;
    }

    .nav-list a::after {
        display: none;
    }

    .nav-list a:hover,
    .nav-list a:focus {
        background-color: rgb(206, 125, 32);
        color: white;
    }

    .logo {
        width: 90px;
        height: 70px;
    }

    /* Mobile Coffee Section */

    .testimonial-image {
        max-width: 280px;
    }

    /* Contact */

    .btn-container {
        text-align: center;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .cff-cup {
        display: none;
    }

    /* Footer */

    .footer-text {
        flex-direction: column;
    }

    .footer-subtext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-bottom-text {
        padding: 0;
    }

}

@media only screen and (max-width: 1150px) {
    .transparent-background {
        padding: 3rem;
    }

    .special-item-2 {
        text-align: center;
    }

    .about-us-text {
        text-align: center;
        padding: 0;
        padding-top: 5rem;
    }
}